.projects .projects-conteiner{
    width: 65%;
    padding: 100px 0 100px 0;
    margin: 0 auto;
}
.projects .projects-conteiner h2{
    font-size: 37px;
}
.projects .projects-conteiner span{
    display: block;
    width: 70px;
    height: 3px;
    background-color: rgb(172, 172, 172);
    margin-bottom: 50px;
    margin-top: 10px;
}
.projects .projects-conteiner .projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}
.projects .projects-conteiner .projects-list .projects-card{
    background-color: rgba(0, 0, 0, 0.582);
    padding: 20px;
    border-radius: 20px;
}
.projects .projects-conteiner .projects-list .projects-card img{
    width: 100%;
    border-radius: 10px;
}
.projects .projects-conteiner .projects-list .projects-card h3{
    padding: 10px 0;
    font-size: 20px
}
.projects .projects-conteiner .projects-list .projects-card div{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin-top: 20px;
}
.projects .projects-conteiner .projects-list .projects-card div a{
    text-decoration: none;
}


/* Responsive */
@media(max-width: 700px){
    .projects .projects-conteiner{
        width: 90%;
    }
    .projects .projects-conteiner .projects-list{
        grid-template-columns: repeat(auto-fit, 325px);
    }
}