*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

p{
  color: rgb(194, 194, 194);
}
h1, h2, h3, a{
  color: rgb(235, 234, 234);
}
a:hover{
  color: rgb(22, 173, 173);
  transition: .4s;
}


/* Animación de gradiente suave */
body {
  background: linear-gradient(270deg,
    rgba(51, 3, 3, 0.959), 
    rgba(0, 0, 0, 0.911), 
    rgba(36, 19, 4, 0.918),
    rgba(0, 0, 0, 0.911), 
    rgba(3, 14, 29, 0.918),
    rgba(0, 0, 0, 0.911), 
    rgba(4, 46, 36, 0.918),
    rgba(0, 0, 0, 0.911), 
    rgba(37, 3, 3, 0.918), 
    rgba(0, 0, 0, 0.911)
  );
  background-size: 1200% 1200%;
  animation: rgbBackground 70s ease infinite;
}

/* Nueva animación para el gradiente */
@keyframes rgbBackground {
  0% { background-position: 0% 50%;}
  50% { background-position: 100% 50%;}
  100% { background-position: 0% 50%;}
}

